<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.capstone">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:name=".backend.ParseApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Capstone"
        tools:targetApi="31">

        <meta-data
            android:name="com.parse.SERVER_URL"
            android:value="@string/back4app_server_url" />
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/back4app_app_id" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/back4app_client_key" />
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity
            android:name=".activities.conversation.ConversationDetailActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName=".activities.conversation.ConversationActivity" />
        <activity
            android:name=".activities.TVShowSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".activities.conversation.ConversationActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MovieSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".activities.feed.DetailEventActivity"
            android:exported="false" />
        <activity
            android:name=".activities.login.PasswordLogInActivity"
            android:exported="false"
            android:parentActivityName=".activities.login.UsernameLogInActivity" />
        <activity
            android:name=".activities.signup.SignUpActivityConfirmation"
            android:exported="false"
            android:parentActivityName=".activities.signup.SignUpActivityOptions" />
        <activity
            android:name=".activities.signup.SignUpActivityOptions"
            android:exported="false"
            android:parentActivityName=".activities.signup.SignUpActivityCredentials" />
        <activity
            android:name=".activities.login.logOrSignActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.signup.SignUpActivityCredentials"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:exported="false"
            android:parentActivityName=".activities.login.logOrSignActivity" />
        <activity
            android:name=".activities.feed.FeedActivity"
            android:exported="false" />
        <activity
            android:name=".activities.login.UsernameLogInActivity"
            android:exported="false"
            android:parentActivityName=".activities.login.logOrSignActivity" />
    </application>

</manifest>